Repository pyfar/pyfar, pull requests merged in 2020-12, with the labels that each got.

#43 Docs hosting on readthedocs
  .readthedocs.yml
  docs/conf.py
Labels: documentation, feature

#22 Hold plots as in matplotlib default
  pyfar/plot/__init__.py
  pyfar/plot/_line.py
  pyfar/plot/line.py
  pyfar/plot/plotstyles/dark.mplstyle
  pyfar/plot/plotstyles/light.mplstyle
  tests/test_io_data/GeneralFIR.sofa
  tests/test_io_data/GeneralFIR_postype.sofa
  tests/test_io_data/GeneralFIR_unit.sofa
  tests/test_io_data/GeneralTF.sofa
  tests/test_plot.py
  tests/test_plot_data/baseline/line_custom_subplots_col.png
  tests/test_plot_data/baseline/line_custom_subplots_col_hold.png
  tests/test_plot_data/baseline/line_custom_subplots_mix.png
  tests/test_plot_data/baseline/line_custom_subplots_mix_hold.png
  tests/test_plot_data/baseline/line_custom_subplots_row.png
  tests/test_plot_data/baseline/line_custom_subplots_row_hold.png
  tests/test_plot_data/baseline/line_freq.png
  tests/test_plot_data/baseline/line_freq_group_delay.png
  tests/test_plot_data/baseline/line_freq_group_delay_hold.png
  tests/test_plot_data/baseline/line_freq_hold.png
  tests/test_plot_data/baseline/line_freq_phase.png
  tests/test_plot_data/baseline/line_freq_phase_hold.png
  tests/test_plot_data/baseline/line_group_delay.png
  tests/test_plot_data/baseline/line_group_delay_hold.png
  tests/test_plot_data/baseline/line_phase.png
  tests/test_plot_data/baseline/line_phase_deg.png
  tests/test_plot_data/baseline/line_phase_deg_unwrap.png
  tests/test_plot_data/baseline/line_phase_hold.png
  tests/test_plot_data/baseline/line_phase_unwrap.png
  tests/test_plot_data/baseline/line_spectrogram.png
  tests/test_plot_data/baseline/line_spectrogram_hold.png
  tests/test_plot_data/baseline/line_summary.png
  tests/test_plot_data/baseline/line_time.png
  tests/test_plot_data/baseline/line_time_dB.png
  tests/test_plot_data/baseline/line_time_dB_hold.png
  tests/test_plot_data/baseline/line_time_hold.png
Labels: enhancement, plot

#44 Bugfix: Sofa read test results in modifies files
  tests/test_io_data/generate_test_io_data.py
Labels: bug, io

#50 fft_norm was not passed in signal.__getitem__
  pyfar/signal.py
Labels: bug, signal

#52 local import of external sampling submodule in spatial
  pyfar/dsp/filter.py
  pyfar/spatial/samplings.py
Labels: bug

#57 Test example notbook using the pytest plugin nbmake
  tox.ini
Labels: ci, enhancement

#56 Feature/findnearest time freq
  pyfar/signal.py
  tests/test_signal.py
Labels: enhancement, signal

#58 Feature copy object
  examples/pyfar_demo.ipynb
  pyfar/coordinates.py
  pyfar/dsp/classes.py
  pyfar/orientations.py
  pyfar/signal.py
  pyfar/utils.py
  tests/test_utils.py
Labels: coordinates, feature, filter, orientations, signal

#60 added time_freq plot (I missed it :)
  pyfar/plot/__init__.py
  pyfar/plot/_line.py
  pyfar/plot/line.py
  tests/test_plot.py
  tests/test_plot_data/baseline/line_time_freq.png
  tests/test_plot_data/baseline/line_time_freq_hold.png
Labels: feature, plot

#61 Enhancement/restructure io testing
  tests/test_io.py
  tests/test_io_data/GeneralFIR.sofa
  tests/test_io_data/GeneralFIR_postype.sofa
  tests/test_io_data/GeneralFIR_unit.sofa
  tests/test_io_data/GeneralTF.sofa
  tests/test_io_data/generate_test_io_data.py
  tests/test_io_data/test_wav.wav
Labels: enhancement, io
