Repository pyfar/pyfar, pull requests merged in 2021-12, with the labels that each got.

#235 Feature/match fft norm
  pyfar/classes/audio.py
  tests/test_match_fft_norm.py
Labels: enhancement, audio

#234 Feature/read audio files
  .travis.yml
  README.rst
  pyfar/io/__init__.py
  pyfar/io/io.py
  requirements_dev.txt
  setup.py
  tests/conftest.py
  tests/test_io.py
Labels: io

#239 Improve contribution guide lines
  CONTRIBUTING.rst
Labels: documentation, enhancement

#212 Feature/deconvolution
  pyfar/dsp/__init__.py
  pyfar/dsp/dsp.py
  tests/test_dsp_deconvolution.py
Labels: feature, dsp

#245 add `_match_fft_norm` to audio arithmetics
  pyfar/classes/audio.py
  tests/test_signal_arithmetic.py
Labels: enhancement, audio

#247 Add return_window parameter to time_window
  pyfar/dsp/dsp.py
  tests/test_dsp.py
Labels: feature, dsp

#102 Final touches on filter Classes
  docs/concepts.rst
  docs/index.rst
  docs/pyfar.classes_audio.rst
  docs/pyfar.classes_filter.rst
  docs/pyfar.concepts_filter.rst
  pyfar/classes/filter.py
  pyfar/classes/filter_concepts.py
  pyfar/dsp/filter.py
  tests/test_filter_classes.py
Labels: enhancement, filter

#243 Introduce concepts in documentation
  docs/classes.rst
  docs/classes/pyfar.audio.rst
  docs/classes/pyfar.coordinates.rst
  docs/classes/pyfar.filter.rst
  docs/classes/pyfar.orientations.rst
  docs/concepts.rst
  docs/concepts/pyfar.arithmetic_operations.rst
  docs/concepts/pyfar.audio_classes.rst
  docs/concepts/pyfar.coordinates.rst
  docs/concepts/pyfar.fft.rst
  docs/concepts/pyfar.filter.rst
  docs/concepts/resources/coordinate_systems.ai
  docs/concepts/resources/coordinate_systems.png
  docs/index.rst
  docs/modules.rst
  docs/modules/pyfar.dsp.fft.rst
  docs/modules/pyfar.dsp.filter.rst
  docs/modules/pyfar.dsp.rst
  docs/modules/pyfar.io.rst
  docs/modules/pyfar.plot.rst
  docs/modules/pyfar.samplings.rst
  docs/modules/pyfar.signals.rst
  docs/todo.txt
  pyfar/_concepts/arithmetic_operations_concepts.py
  pyfar/_concepts/audio_concepts.py
  pyfar/_concepts/coordinates_concepts.py
  pyfar/_concepts/fft_concepts.py
  pyfar/_concepts/filter_concepts.py
  pyfar/classes/audio.py
  pyfar/classes/coordinates.py
  pyfar/classes/filter.py
  pyfar/dsp/fft.py
Labels: documentation, enhancement, audio, coordinates, filter, fft
