Repository pyfar/pyfar, pull requests merged in 2021-06, with the labels that each got.

#192 Feature/read write filters
  pyfar/classes/filter.py
  pyfar/io/_codec.py
  tests/conftest.py
  tests/test_io.py
Labels: feature

#194 Enhancements/time unit handling
  pyfar/dsp/dsp.py
  tests/test_dsp.py
Labels: dsp, enhancement

#196 Automatically include code from plots in the documentation
  docs/conf.py
  pyfar/classes/audio.py
  pyfar/classes/coordinates.py
  pyfar/dsp/dsp.py
  pyfar/dsp/fft.py
  pyfar/dsp/filter.py
  pyfar/plot/__init__.py
  pyfar/plot/_interaction.py
  pyfar/plot/line.py
  pyfar/plot/utils.py
Labels: documentation, enhancement

#189 Complete contributors and history
  AUTHORS.rst
  HISTORY.rst
Labels: documentation

#202 Feature/plot multidimensional signals
  pyfar/plot/_interaction.py
  pyfar/plot/line.py
  tests/test_interaction.py
Labels: bug, enhancement, plot

#201 Deprecate sweep synthesis
  examples/pyfar_demo.ipynb
  pyfar/plot/line.py
  pyfar/signals/__init__.py
  pyfar/signals/deterministic.py
  tests/references/signals.exponential_sweep_time.csv
  tests/references/signals.exponential_sweep_time.py
  tests/references/signals.linear_sweep_time.csv
  tests/references/signals.linear_sweep_time.py
  tests/test_signals.py
Labels: feature, signals
