Repository pyfar/pyfar, pull requests merged in 2021-02, with the labels that each got.

#66 Refactoring interaction
  pyfar/plot/_interaction.py
  pyfar/plot/_line.py
  pyfar/plot/line.py
  pyfar/plot/shortcuts/shortcuts.json
  pyfar/plot/utils.py
Labels: enhancement, plot

#69 Feature/non equidistant audio data
  pyfar/signal.py
  tests/test_audio.py
  tests/test_frequency_data.py
  tests/test_signal.py
  tests/test_time_data.py
Labels: feature, signal

#87 moved stub_utils
  pyfar/testing/__init__.py
  pyfar/testing/stub_utils.py
  tests/conftest.py
  tests/test_stub_utils.py
Labels: feature

#90 sphericalvoronoi.copy() implemented.
  pyfar/spatial/spatial.py
  tests/conftest.py
  tests/test_utils.py
Labels: enhancement, spatial

#98 Remove the setter and test for Signal.signal_type
  pyfar/signal.py
  tests/test_signal.py
Labels: feature, signal

#64 Feature/factional octave filters
  pyfar/dsp/classes.py
  pyfar/dsp/filter.py
  tests/test_filter_classes.py
  tests/test_fractional_octaves.py
Labels: dsp, filter

#86 Arithmetic operations for all audio classes
  pyfar/signal.py
  tests/test_signal_arithmetic.py
Labels: enhancement, signal

#100 update documentation for arithmetic operations
  pyfar/signal.py
Labels: documentation, enhancement, signal

#85 Added more verbose shortcuts and improved display of shortcuts
  pyfar/plot/shortcuts/shortcuts.json
  pyfar/plot/utils.py
Labels: enhancement, plot
