Repository pyfar/pyfar, pull requests merged in 2021-05, with the labels that each got.

#178 Windowing function
  pyfar/dsp/__init__.py
  pyfar/dsp/dsp.py
  tests/test_dsp.py
Labels: dsp, feature

#190 Improved filter processing
  pyfar/classes/filter.py
Labels: bug, dsp, enhancement, filter

#186 Cyclic time shift
  pyfar/dsp/__init__.py
  pyfar/dsp/dsp.py
  tests/test_dsp.py
Labels: dsp, feature

#184 Feature/zero padding
  pyfar/dsp/__init__.py
  pyfar/dsp/dsp.py
  tests/test_dsp_pad_zeros.py
Labels: dsp, feature

#185 Minimum phase
  .gitignore
  pyfar/dsp/__init__.py
  pyfar/dsp/dsp.py
  tests/test_dsp.py
Labels: dsp, feature

#177 Bugfix: Mismatching slopes of low/high vs. band-passes in crossover network
  pyfar/dsp/filter.py
  tests/test_filter.py
Labels: bug, filter

#187 Feature: Interpolate spectrum
  pyfar/dsp/__init__.py
  pyfar/dsp/dsp.py
  tests/test_dsp_interpolate_spectrum.py
Labels: dsp, feature

#191 Fractional octave slopes
  pyfar/dsp/filter.py
Labels: documentation

#195 Replace the mock in the fractional octave test
  tests/test_fractional_octaves.py
Labels: ci, enhancement, filter
