Repository pyfar/pyfar, pull requests merged in 2021-01, with the labels that each got.

#73 Hotfix orientations utils
  .gitignore
  pyfar/orientations.py
  tests/test_utils.py
Labels: hot

#67 added flatten and reshape method for signal
  pyfar/signal.py
  tests/test_signal.py
Labels: feature, signal

#68 add time units for time plots
  pyfar/plot/_line.py
  pyfar/plot/line.py
  pyfar/plot/plotstyles/dark.mplstyle
  pyfar/plot/plotstyles/light.mplstyle
  tests/test_plot.py
  tests/test_plot_data/baseline/line_custom_subplots_col.png
  tests/test_plot_data/baseline/line_custom_subplots_col_hold.png
  tests/test_plot_data/baseline/line_custom_subplots_mix.png
  tests/test_plot_data/baseline/line_custom_subplots_mix_hold.png
  tests/test_plot_data/baseline/line_custom_subplots_row.png
  tests/test_plot_data/baseline/line_custom_subplots_row_hold.png
  tests/test_plot_data/baseline/line_freq.png
  tests/test_plot_data/baseline/line_freq_dB_False.png
  tests/test_plot_data/baseline/line_freq_dB_True.png
  tests/test_plot_data/baseline/line_freq_group_delay.png
  tests/test_plot_data/baseline/line_freq_group_delay_hold.png
  tests/test_plot_data/baseline/line_freq_hold.png
  tests/test_plot_data/baseline/line_freq_logParams.png
  tests/test_plot_data/baseline/line_freq_phase.png
  tests/test_plot_data/baseline/line_freq_phase_hold.png
  tests/test_plot_data/baseline/line_freq_xscale_linear.png
  tests/test_plot_data/baseline/line_freq_xscale_log.png
  tests/test_plot_data/baseline/line_group_delay.png
  tests/test_plot_data/baseline/line_group_delay_hold.png
  tests/test_plot_data/baseline/line_group_delay_unit_None.png
  tests/test_plot_data/baseline/line_group_delay_unit_ms.png
  tests/test_plot_data/baseline/line_group_delay_unit_mus.png
  tests/test_plot_data/baseline/line_group_delay_unit_s.png
  tests/test_plot_data/baseline/line_group_delay_unit_samples.png
  tests/test_plot_data/baseline/line_group_delay_xscale_linear.png
  tests/test_plot_data/baseline/line_group_delay_xscale_log.png
  tests/test_plot_data/baseline/line_phase_deg.png
  tests/test_plot_data/baseline/line_phase_deg_unwrap.png
  tests/test_plot_data/baseline/line_phase_hold.png
  tests/test_plot_data/baseline/line_spectrogram.png
  tests/test_plot_data/baseline/line_spectrogram_hold.png
  tests/test_plot_data/baseline/line_time.png
  tests/test_plot_data/baseline/line_time_dB_False.png
  tests/test_plot_data/baseline/line_time_dB_True.png
  tests/test_plot_data/baseline/line_time_freq.png
  tests/test_plot_data/baseline/line_time_freq_hold.png
  tests/test_plot_data/baseline/line_time_hold.png
  tests/test_plot_data/baseline/line_time_logParams.png
  tests/test_plot_data/baseline/line_time_unit_None.png
  tests/test_plot_data/baseline/line_time_unit_ms.png
  tests/test_plot_data/baseline/line_time_unit_mus.png
  tests/test_plot_data/baseline/line_time_unit_s.png
  tests/test_plot_data/baseline/line_time_unit_samples.png
Labels: feature, plot

#78 Remove deprecated comments and interactive cells from test_coordinates
  tests/test_coordinates.py
Labels: coordinates, enhancement
