Repository pyfar/pyfar, pull requests merged in 2022-10, with the labels that each got.

#367 Introduce caxis to concepts and functions
  pyfar/_concepts/audio_classes.py
  pyfar/classes/audio.py
  pyfar/dsp/dsp.py
  tests/test_dsp_average.py
Labels: enhancement, audio, dsp

#365 soundfile v0.11.0 update
  environment.yml
  pyfar/io/io.py
  requirements_dev.txt
  setup.py
  tests/test_io.py
Labels: bug, io

#370 add freq_range kwarg to deconvolve
  pyfar/dsp/dsp.py
  tests/test_dsp_deconvolution.py
Labels: bug, dsp

#357 Update for 0.5.0 release
  AUTHORS.rst
  HISTORY.rst
Labels: documentation

#374 Fix sampling rate in Gammatone filter bank
  pyfar/dsp/filter/gammatone.py
  tests/test_filter_gammatone.py
Labels: hot, filter

#372 Add gammatone filters to documentation
  docs/concepts/resources/filter_types.py
  docs/concepts/resources/filter_types_filterbanks.png
  pyfar/_concepts/filter_types.py
Labels: documentation, enhancement
