Repository pyfar/pyfar, pull requests merged in 2022-03, with the labels that each got.

#283 Deprecate xscale parameter from all plots
  pyfar/dsp/dsp.py
  pyfar/plot/_line.py
  pyfar/plot/_two_d.py
  pyfar/plot/line.py
  pyfar/plot/two_d.py
  tests/test_plot.py
  tests/test_plot_data/baseline/freq_2d_freqscale_linear.png
  tests/test_plot_data/baseline/freq_2d_freqscale_log.png
  tests/test_plot_data/baseline/freq_freqscale_linear.png
  tests/test_plot_data/baseline/freq_freqscale_log.png
  tests/test_plot_data/baseline/group_delay_2d_freqscale_linear.png
  tests/test_plot_data/baseline/group_delay_2d_freqscale_log.png
  tests/test_plot_data/baseline/group_delay_freqscale_linear.png
  tests/test_plot_data/baseline/group_delay_freqscale_log.png
  tests/test_plot_data/baseline/phase_2d_freqscale_linear.png
  tests/test_plot_data/baseline/phase_2d_freqscale_log.png
  tests/test_plot_data/baseline/phase_freqscale_linear.png
  tests/test_plot_data/baseline/phase_freqscale_log.png
Labels: enhancement

#286 Pyfar import returns empty figure
  pyfar/plot/_utils.py
Labels: bug, plot

#274 Refactor Signal.freq
  examples/pyfar_demo.ipynb
  pyfar/_concepts/arithmetic_operations.py
  pyfar/_concepts/fft.py
  pyfar/classes/audio.py
  pyfar/dsp/dsp.py
  tests/test_dsp.py
  tests/test_dsp_spectrogram.py
  tests/test_plot.py
  tests/test_signal.py
Labels: enhancement, audio

#284 Constant slope filters
  docs/concepts/resources/filter_types.py
  docs/concepts/resources/filter_types_parametric-eq.png
  pyfar/_concepts/filter_types.py
  pyfar/dsp/filter.py
  tests/references/filter.shelve_cascade.py
  tests/references/filter.shelve_cascade_high.csv
  tests/references/filter.shelve_cascade_high_exceed_nyquist.csv
  tests/references/filter.shelve_cascade_low.csv
  tests/test_filter_shelve_cascade.py
Labels: feature, filter
