Repository pyfar/pyfar, pull requests merged in 2022-04, with the labels that each got.

#291 Bugfix for 2D plots
  HISTORY.rst
  pyfar/plot/_two_d.py
  pyfar/plot/_utils.py
  tests/test_plot__utils.py
Labels: hot, plot

#298 Feature: convert sofa
  pyfar/io/__init__.py
  pyfar/io/io.py
  tests/test_io.py
Labels: feature, io

#299 contourf for 2d plots
  pyfar/plot/_interaction.py
  pyfar/plot/_two_d.py
  pyfar/plot/_utils.py
  pyfar/plot/plotstyles/dark.mplstyle
  pyfar/plot/plotstyles/light.mplstyle
  pyfar/plot/two_d.py
  tests/test_plot.py
  tests/test_plot__utils.py
  tests/test_plot_data/baseline/freq_2d_contourf.png
  tests/test_plot_data/baseline/freq_group_delay_2d_contourf.png
  tests/test_plot_data/baseline/freq_phase_2d_contourf.png
  tests/test_plot_data/baseline/group_delay_2d_contourf.png
  tests/test_plot_data/baseline/phase_2d_contourf.png
  tests/test_plot_data/baseline/time_2d_contourf.png
  tests/test_plot_data/baseline/time_freq_2d_contourf.png
Labels: enhancement, plot

#300 Switch to CircleCI
  .circleci/config.yml
  .gitignore
  .travis.yml
  pytest.ini
  requirements_dev.txt
  setup.cfg
  setup.py
  tests/__init__.py
Labels: ci

#301 Figure title weight bold
  pyfar/plot/plotstyles/dark.mplstyle
  pyfar/plot/plotstyles/light.mplstyle
  tests/test_plot.py
  tests/test_plot_data/baseline/title_dark.png
  tests/test_plot_data/baseline/title_light.png
Labels: enhancement, plot
