Repository pyfar/pyfar, pull requests merged in 2022-09, with the labels that each got.

#319 Test if sphinx build is succesful
  .circleci/config.yml
Labels: documentation, ci

#348 Explicitly set sphinx language
  docs/conf.py
Labels: documentation

#203 Find starting sample of an impulse response
  pyfar/dsp/__init__.py
  pyfar/dsp/dsp.py
  tests/test_dsp.py
Labels: feature, dsp

#327 Add auditory gammatone filter bank
  pyfar/dsp/filter/__init__.py
  pyfar/dsp/filter/gammatone.py
  pyfar/io/_codec.py
  pyfar/signals/deterministic.py
  tests/test_filter_gammatone.py
  tests/test_io.py
Labels: feature, filter

#333 add aliasing suppression to resample function
  pyfar/dsp/interpolation.py
  tests/test_dsp_resample.py
Labels: enhancement, dsp

#352 Specify the plot backend in deprecation tests
  tests/test_deprecations.py
  tests/test_plot.py
  tests/test_plot_interaction.py
Labels: bug, ci

#277 Feature/matrix multiplication
  examples/pyfar_demo.ipynb
  pyfar/__init__.py
  pyfar/_concepts/arithmetic_operations.py
  pyfar/classes/audio.py
  tests/test_signal_arithmetic.py
Labels: enhancement, audio

#315 Add audio files to pyfar
  .gitignore
  docs/modules.rst
  docs/modules/pyfar.signals.files.rst
  pyfar/signals/__init__.py
  pyfar/signals/files.py
  tests/test_signals_files.py
Labels: feature, signals

#355 fix typos in audio classes doc
  pyfar/_concepts/audio_classes.py
Labels: documentation, bug

#354 fix bugs in documentation
  pyfar/dsp/filter/gammatone.py
  pyfar/dsp/interpolation.py
Labels: documentation, bug

#344 More convenient handling of data types in audio objects
  pyfar/classes/audio.py
  pyfar/io/io.py
  tests/test_audio.py
  tests/test_audio_frequency_data.py
  tests/test_audio_signal.py
  tests/test_audio_signal_arithmetic.py
  tests/test_audio_signal_iterator.py
  tests/test_audio_time_data.py
  tests/test_io.py
Labels: enhancement, audio
