Repository pyfar/pyfar, pull requests merged in 2022-06, with the labels that each got.

#313 Enhancement: signals parameters
  pyfar/signals/deterministic.py
  tests/test_signals.py
Labels: enhancement, signals

#310 Deprecation for pyfar 0.5.0
  examples/pyfar_demo.ipynb
  pyfar/classes/coordinates.py
  pyfar/dsp/filter.py
  pyfar/io/__init__.py
  pyfar/io/io.py
  pyfar/signals/__init__.py
  pyfar/signals/deterministic.py
  tests/test_deprecations.py
  tests/test_io.py
Labels: enhancement

#292 Fractional delay (windowed sinc)
  pyfar/dsp/__init__.py
  pyfar/dsp/dsp.py
  pyfar/dsp/dsp_interpolation.py
  tests/test_dsp_interpolation.py
Labels: feature, dsp

#321 Fix wrong default value for resample function
  pyfar/dsp/interpolation.py
  tests/test_dsp_resample.py
Labels: bug, dsp

#318 Array broadcasting in arithmetic operations
  pyfar/_concepts/arithmetic_operations.py
  pyfar/classes/audio.py
  tests/test_signal_arithmetic.py
Labels: enhancement, audio
