Repository pyfar/pyfar, pull requests merged in 2022-12, with the labels that each got.

#386 Fix return arguments in Coordinates.find_slice
  pyfar/classes/coordinates.py
  tests/test_coordinates.py
Labels: bug, coordinates

#394 392 Unexpected Gain using high shelve filter with shelve type I and II
  pyfar/dsp/filter/audiofilter.py
Labels: documentation, dsp

#385 Bradcast functions for audio classes
  docs/modules.rst
  docs/modules/pyfar.utils.rst
  pyfar/__init__.py
  pyfar/utils.py
  tests/test_utils.py
Labels: feature, audio, dsp

#393 Fix read comsol: allow for *, ( and ) in expressions and units
  pyfar/io/io.py
  tests/test_io_comsol.py
  tests/test_io_data/intensity_product.csv
  tests/test_io_data/intensity_product.dat
  tests/test_io_data/intensity_product.txt
Labels: hot, io

#388 Fix more warnings in tests
  pyfar/dsp/dsp.py
  pyfar/samplings/samplings.py
  pyfar/signals/files.py
  tests/test_filter_shelve_cascade.py
  tests/test_plot_interaction.py
  tests/test_signals.py
Labels: enhancement

#387 Return HRIRs in requested order
  pyfar/signals/files.py
  tests/test_signals_files.py
Labels: bug, signals

#404 Handle signals with different cdims in dsp.convolve
  pyfar/_concepts/audio_classes.py
  pyfar/dsp/dsp.py
  tests/test_dsp.py
Labels: documentation, enhancement, dsp
