Repository pyfar/pyfar, pull requests merged in 2023-04, with the labels that each got.

#457 Fix legend of InterpolateSpectrum's show function
  pyfar/dsp/interpolation.py
Labels: bug, dsp

#445 catch reading outdated pyfar objects
  pyfar/io/io.py
  pyfar/testing/stub_utils.py
  tests/test_io.py
  tests/test_io_data/erroneous_data_with_version_string.far
  tests/test_io_data/erroneous_data_without_version_string.far
Labels: enhancement, io

#450 Remove unwanted minor tick label for log plots
  pyfar/plot/_line.py
  pyfar/plot/_two_d.py
  tests/test_plot.py
Labels: bug, plot

#458 Fix order of parameters in docstring of dsp.normalize
  pyfar/dsp/dsp.py
Labels: documentation, enhancement, dsp
