Repository pyfar/pyfar, pull requests merged in 2023-12, with the labels that each got.

#521 Fix plots not showing in examples notebook
  examples/pyfar_demo.ipynb
Labels: documentation, bug

#505 Enhance/force numeric data in audio objects
  pyfar/classes/audio.py
  tests/test_audio.py
  tests/test_audio_frequency_data.py
  tests/test_audio_signal.py
  tests/test_audio_time_data.py
  tests/test_dsp_average.py
  tests/test_dsp_normalize.py
Labels: enhancement, audio, complex-signal

#460 Implement filter tests for complex signals
  tests/test_filter_classes.py
Labels: complex-signal

#481 add transpose method to _Audio
  pyfar/classes/audio.py
  tests/test_audio_frequency_data.py
  tests/test_audio_signal.py
  tests/test_audio_time_data.py
Labels: audio, v0.7.0

#513 add check for fft_norm in complex setter
  pyfar/classes/audio.py
  tests/test_audio_signal.py
Labels: complex-signal

#461 adapt convolution for complex singals and implement testing
  pyfar/dsp/dsp.py
  tests/test_dsp.py
Labels: complex-signal
