Repository pyfar/pyfar, pull requests merged in 2023-03, with the labels that each got.

#434 Fix warnings in tests
  tests/test_audio_signal.py
  tests/test_imports.py
Labels: enhancement, ci

#448 Hotfix: Return HRIRs in requested order
  pyfar/classes/coordinates.py
  pyfar/signals/files.py
  tests/test_coordinates.py
  tests/test_signals_files.py
Labels: hot

#443 Reading frequency domain signals
  pyfar/classes/audio.py
  tests/test_io.py
Labels: bug, audio

#446 Empty dicts to use current active plotstyle
  pyfar/_concepts/plots.py
  pyfar/plot/line.py
  pyfar/plot/two_d.py
  tests/test_plot.py
Labels: documentation, plot
