Repository pyfar/pyfar, pull requests merged in 2024-11, with the labels that each got.

#685 ruff: automatic docstring rules following numpy convention
  pyfar/classes/audio.py
  pyfar/classes/coordinates.py
  pyfar/classes/filter.py
  pyfar/classes/orientations.py
  pyfar/classes/transmission_matrix.py
  pyfar/classes/warnings.py
  pyfar/dsp/dsp.py
  pyfar/dsp/fft.py
  pyfar/dsp/filter/audiofilter.py
  pyfar/dsp/filter/band_filter.py
  pyfar/dsp/filter/gammatone.py
  pyfar/io/_codec.py
  pyfar/io/io.py
  pyfar/plot/_interaction.py
  pyfar/plot/_utils.py
  pyfar/plot/ticker.py
  pyfar/plot/utils.py
  pyfar/samplings/external/eq_area_partitions.py
  pyfar/samplings/samplings.py
  pyfar/samplings/spatial.py
  pyfar/signals/deterministic.py
  pyfar/testing/stub_utils.py
  pyproject.toml
  tests/conftest.py
  tests/test_audio_signal.py
  tests/test_codec.py
  tests/test_coordinates_find.py
  tests/test_coordinates_new.py
  tests/test_copy.py
  tests/test_dsp.py
  tests/test_dsp_average.py
  tests/test_dsp_deconvolution.py
  tests/test_dsp_interpolation.py
  tests/test_dsp_normalize.py
  tests/test_fft.py
  tests/test_io.py
  tests/test_match_fft_norm.py
  tests/test_signals.py
  tests/test_stub_utils.py
  tests/test_transmission_matrix.py
  tests/test_transmission_matrix_derived_parameters.py
Labels: documentation, ci, code-style, v0.7.1

#713 Add corrleation function to pyfar.dsp
  pyfar/dsp/__init__.py
  pyfar/dsp/dsp.py
  pyfar/signals/deterministic.py
  tests/test_dsp_correlate.py
Labels: feature, dsp, v0.8.0

#719 Feature: correlate
  pyfar/dsp/__init__.py
  pyfar/dsp/dsp.py
  pyfar/signals/deterministic.py
  tests/test_dsp_correlate.py
Labels: feature, dsp, v0.8.0

#727 dsp.time_shift: add broadcastable and array_like to doc (shift)
  pyfar/dsp/dsp.py
Labels: documentation, v0.7.1

#710 change from setup.py to pyproject.toml
  .circleci/config.yml
  .readthedocs.yml
  CONTRIBUTING.rst
  pyproject.toml
  pytest.ini
  requirements_dev.txt
  setup.cfg
  setup.py
  tests/conftest.py
Labels: ci, v0.7.1
