Repository pyfar/pyfar, pull requests merged in 2024-02, with the labels that each got.

#462 Raise errors in energy, power, and rms for complex signals
  pyfar/classes/audio.py
  pyfar/dsp/dsp.py
  tests/test_audio_signal.py
  tests/test_dsp_average.py
  tests/test_dsp_energy_power_rms.py
Labels: complex-signal

#541 Update fft.py
  pyfar/dsp/fft.py
Labels: hot, fft, signals

#535 Hotfix/read_comsol: allow [,],- in expressions
  pyfar/io/io.py
  tests/test_io_comsol.py
  tests/test_io_data/character_collection.csv
  tests/test_io_data/character_collection.dat
  tests/test_io_data/character_collection.txt
Labels: hot, io

#525 Test various dsp methods
  pyfar/dsp/dsp.py
  pyfar/dsp/interpolation.py
  tests/conftest.py
  tests/test_audio_signal_arithmetic.py
  tests/test_dsp.py
  tests/test_dsp_decibel.py
  tests/test_dsp_pad_zeros.py
  tests/test_dsp_resample.py
  tests/test_dsp_spectrogram.py
Labels: dsp, complex-signal
