Repository pyfar/pyfar, pull requests merged in 2025-04, with the labels that each got.

#740 remove deprecateted samplings
  .gitignore
  MANIFEST.in
  docs/api_reference.rst
  docs/modules/pyfar.samplings.rst
  pyfar/__init__.py
  pyfar/classes/coordinates.py
  pyfar/io/_codec.py
  pyfar/samplings/__init__.py
  pyfar/samplings/external/__init__.py
  pyfar/samplings/external/eq_area_partitions.py
  pyfar/samplings/external/samplings_fliege.mat
  pyfar/samplings/external/samplings_lebedev.py
  pyfar/samplings/samplings.py
  pyfar/samplings/spatial.py
  pyproject.toml
  tests/conftest.py
  tests/test_codec.py
  tests/test_coordinates_find.py
  tests/test_copy.py
  tests/test_deprecations.py
  tests/test_eq_area_partitions.py
  tests/test_imports.py
  tests/test_io.py
  tests/test_samplings.py
  tests/test_spatial.py
Labels: samplings

#770 Reopen: Speed of sound ideal gas
  pyfar/constants/__init__.py
  pyfar/constants/constants.py
  pyfar/constants/speed_of_sound.py
  tests/test_constants_speed_of_sound.py
  tests/test_constants_utils.py
Labels: feature, constants

#768 Impulse response length estimation for Filter objects
  pyfar/classes/filter.py
  tests/test_filter_classes.py
Labels: feature, filter

#786 Bug/deprecation_fix
  tests/test_deprecations.py
Labels: dependencies, ci

#783 Feature/transmission line
  pyfar/classes/transmission_matrix.py
  tests/test_transmission_matrix.py
Labels: feature

#734 add air attenuation after iso
  pyfar/constants/__init__.py
  pyfar/constants/constants.py
  tests/test_constants_air_attenuation.py
Labels: feature, constants

#788 Fix secondary sidebar display of class attributes
  docs/_static/custom.js
  docs/conf.py
Labels: documentation, cookiecutter

#771 Rebase: Speed of sound cramer
  pyfar/constants/__init__.py
  pyfar/constants/speed_of_sound.py
  tests/test_constants_speed_of_sound_cramer.py
Labels: feature, constants
