Repository pyfar/pyfar, pull requests merged in 2025-03, with the labels that each got.

#776 hot fix for crash in dsp.find_impulse_response_delay
  pyfar/dsp/dsp.py
  tests/test_dsp.py
Labels: hot, dsp

#773 add True constants like np.pi to pyfar.constants
  docs/modules/pyfar.constants.rst
  pyfar/constants/__init__.py
  pyfar/constants/speed_of_sound.py
  tests/test_constants.py
Labels: constants

#779 update for release v0.7.2
  HISTORY.rst
Labels: documentation

#716 Regularization class
  pyfar/dsp/__init__.py
  pyfar/dsp/regularization.py
  tests/test_dsp_regularization.py
Labels: enhancement, feature, dsp
